:root {
    --blue10:#E7F1FF;
    --blue20:#bad2ff;
    --blue30:#3e6be6;
    --blue40:#265df1;
    --blue50:#1942B3;
    --blue60:#0E2259;

    --ui1: var(--blue10);
    --ui2: var(--blue20);
    --ui3: var(--blue30);
    --ui4: var(--blue40);
    --ui5: var(--blue50);
    --ui6: var(--blue60);

    --grey00:white;
    --grey10:#F7FAFC;
    --grey20:#EDF3F7;
    --grey30:#CED7DE;
    --grey40:#B0BAC2;
    --grey50:#6E7881;
    --grey60:#18191A;

    --grey05:#fbfcfd;
    --grey45:#879099;
    --grey55:#383C40;

    --red10: #FFEBEB;
    --red20:#FCBDBD;
    --red30:#F2555F;
    --red40:#EF3340;
    --red45:#D92736;
    --red50:#A6212A;
    --red60:#591317;

    --green10:#EBFFF1;
    --green20:#B0EBC3;
    --green30:#66CC86;
    --green40:#3DC468;
    --green50:#2DA854;
    --green60:#124D25;

    --yellow10: #FCF6DE;
    --yellow20: #FFE880;
    --yellow30: #FFDE4C;
    --yellow40: #FFD100;
    --yellow50: #FF9419;
    --yellow60: #662E00;

    --cyan10: #E8F6FF;
    --cyan20: #BEE6FF;
    --cyan30: #8CDBFF;
    --cyan40: #66CFFF;
    --cyan50: #0A8FCC;
    --cyan60: #00384C;

    --purple10: #F4EDFF;
    --purple20: #C4AEE8;
    --purple30: #8F62D9;
    --purple40: #7B41D9;
    --purple50: #572E99;
    --purple60: #331B59;


    /*--grey10: hsl(204, 45%, 98%);
    --grey20: hsl(204, 38%, 95%);
    --grey30: hsl(206, 20%, 84%);
    --grey40: hsl(207, 13%, 73%);
    --grey50: hsl(208, 8%, 47%);
    --grey60: hsl(210, 4%, 10%);*/
}

.transmit {
    --ui1: var(--green10);
    --ui2: var(--green20);
    --ui3: var(--green30);
    --ui4: var(--green40);
    --ui5: var(--green50);
    --ui6: var(--green60);
}

.invert {
    --grey60:#F7FAFC;
    --grey50:#EDF3F7;
    --grey40:#CED7DE;
    --grey30:#B0BAC2;
    --grey20:#6E7881;
    --grey10:#18191A;
    --grey00:black;
}

.desat {
    --grey10:hsl(208, 0%, 98%);
    --grey20:hsl(208, 0%, 95%);
    --grey30:hsl(208, 0%, 84%);
    --grey40:hsl(208, 0%, 73%);
    --grey50:hsl(208, 0%, 47%);
    --grey60:hsl(208, 0%, 10%);
}

* {margin:0;padding:0;outline:none;}

html {
    font:normal 14px -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color:var(--grey60);
    line-height:20px;
    background:var(--grey00);
}

a, .a {color:var(--ui3);transition:color 150ms ease-in-out;text-decoration:underline;}
a:hover, .a:hover {color:var(--ui5);}
a:active, .a:active {text-decoration:none;}

h1 {font-size:36px;line-height:48px;font-weight:300;color:var(--grey60);}
h2 {font-size:24px;line-height:36px;font-weight:400;color:var(--grey60);}
h3 {font-size:18px;line-height:28px;font-weight:700;color:var(--grey60);}
h4 {font-size:14px;line-height:20px;font-weight:700;color:var(--grey60);}
h5 {font-size:11px;line-height:20px;font-weight:500;text-transform:uppercase;color:var(--grey50);}

b, .emp {font-weight:600;}
.italics {font-style:italic;}
.stext {color:var(--grey50);}
.largetext {font-size:18px;line-height:28px;}


.inputlabel {font-size:13px;color:var(--grey50);margin-bottom:4px;}

.disabled {color:var(--grey40);}