:root {
    --blue10:#E7F1FF;
    --blue20:#bad2ff;
    --blue30:#3e6be6;
    --blue40:#265df1;
    --blue50:#1942B3;
    --blue60:#0E2259;

    --grey10:#F7FAFC;
    --grey20:#EDF3F7;
    --grey30:#CED7DE;
    --grey40:#B0BAC2;
    --grey50:#6E7881;
    --grey60:#18191A;

    /*--grey10: hsl(204, 45%, 98%);
    --grey20: hsl(204, 38%, 95%);
    --grey30: hsl(206, 20%, 84%);
    --grey40: hsl(207, 13%, 73%);
    --grey50: hsl(208, 8%, 47%);
    --grey60: hsl(210, 4%, 10%);*/
}

* {margin:0;padding:0;outline:none;}

html {
    font:normal 14px -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color:var(--grey60);
    line-height:20px;
}

a {color:var(--blue30);transition:color 150ms ease-in-out;}
a:hover {color:var(--blue40);}
a:active {text-decoration:none;}

